html{
    font-family: sans-serif;
    font-size: 24px;
}

h1{
    color: red;
    font-size: 50px;
    text-align: center;
}

.login{
    display: flex;
    justify-content: end;
    margin-right: 80px;    
}

.passLabel{
    margin-left: 40px;
}

select{
    font-size: 20px;
    width: 70px;
    height: 25px;
}

form{
    margin: auto;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    width: 500px;
    height: 500px;
    margin-top: 50vh;
    background-color: blue;
}

button {
    margin-top: 20px;
    width:80px;
    height: 30px;
}


