html{
    font-family: sans-serif;
    font-size: 24px;
}

h1{
    color: red;
    font-size: 50px;
    text-align: center;
}

select{
    font-size: 20px;
    width: 70px;
    height: 25px;
}

.opponent input {
    margin-top: 10px;
}

form{
    float: left;
    margin-top: 50px;
    margin-left: 130px;
}

button{
    width: 50px;
    height: 20px;
}

.board{
    width: 500px;
    height: 500px;
    background-color: blue;
    margin-top: 300px;
    margin-left: 700px;
}

