*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    font-size: 24px;
}


.logo{
    height: 150px;
    width: 200px;
}

.passLabel{
    margin-left: 40px;
}

select{
    font-size: 20px;
    width: 70px;
    height: 25px;
}

.loginDiv{
    margin: auto;
    background-color: #FFFFCC;
    height: 150px;
}

.login{
    display: flex;
    justify-content: end;
    margin-right: 80px;   
}

.login * {
    margin-top: 40px;
}

form{
    margin: auto;
}

.options {
    display: flex;
    flex-direction: row; /* Change to column */
    justify-content: center;
    margin-top: 50px;
}


.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    width: 700px;
    height: 700px;
    margin-top: 20vh;
    background-color: blue;
}

button {
    margin-top: 20px;
    width:80px;
    height: 30px;
}

.leftColumn{
    width: 200px;
    height: 1200px;
    background-color: #FFFFCC;
    float: left;
}


